.swiper-container-member {
    .swiper-button-next:after,
    .swiper-button-prev:after {
        content: '';
        width: 8px;
        height: 17px;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .swiper-button-prev:after {
        background-image: url('../images/arrow_left.svg');
    }

    .swiper-button-next:after {
        background-image: url('../images/arrow_right.svg');
    }
}