.about-title {
    position: relative;
    display: inline-block;
    background-color: #dedede;
    z-index: 100;

    @screen md {
        padding-right: 70px;
    }

    &-separator {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 1px;
        background-color: #0a0a0a;
    }
}